<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Parva Shah . It fethces data from gecode.com and uses weatherstack API to fetch the weather.</p>
            <img class="potrait" src="/img/myPhoto.png" alt="My Photo">
        </div>
        
        {{>footer}}
    </body>
</html>