<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="potrait" src="https://mail.google.com/mail/u/0?ui=2&ik=ad5d0b8938&attid=0.1.1&permmsgid=msg-f:1713066454124579823&th=17c608dd22bbcbef&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ91AGM1xZNjKkwPlbCut2ApugSPg5xi8s35y95sOb2GbZMJwwIxP8AP78JpZR3EvBF8rZauy2mBogRgDIqiD3q3OmH0jiZJnu0XeOlUvjNz_F7b3aDw8Og_j-A&disp=emb" alt="My Photo">
        </div>
        
        {{>footer}}
    </body>
</html>