<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h1>{{desc}}</h1>
        <p>{{subs}}</p>
    </body>
</html>